<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/order.css" />
<div class="main-nav"></div>
<div class="contain" style="min-height:500px;text-align:center;">
	<div style="width:990px;height:90px;margin-top:150px;font-size:50px;color:#353535"><img src="__IMG__/regfail.jpg"/></div>
	<div style="margin-top:40px;">
		<a href="javascript:history.back(-1)">
			<div class="btn" style="font-size:16px;">返回</div>
		</a>
	</div>
	<div style="margin-top:20px;">
		<a href="index.php?s=index">
			<div class="btn" style="background-color: #28bcdc;border: 1px solid #28bcdc;font-size:16px;">去首页</div>
		</a>
	</div>
</div>
<include file="Public:footer" />