<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/order.css" />
<div class="main-nav">
	<div class="container">
		<ul class="list-inline">
			<li>
				<a>安全中心</a>
			</li>
		</ul>
	</div>
</div>
<div class="contain" style="min-height:550px;text-align:center;">
	<div class="LoginPanel" style="border:none;">	
		<div class="flowsteps">
			<ol class="num4">
				<li class="first current done">
					<span>
						<i>1</i>
						<em>验证手机</em>
					</span>
				</li>	
				<li class="current done">
					<span>
						<i>2</i>
						<em>重置密码</em>
					</span>
				</li>
				<li class="last current">
					<span>
						<i>3</i>
						<em>完成</em>
					</span>
				</li>
			</ol>
		</div>
	</div>
	<div style="width:990px;height:90px;margin-top:150px;font-size:50px;color:#353535"><img src="__IMG__/resetfail.jpg"/></div>
	<div style="margin-top:40px;">
		<a href="javascript:history.back(-1)">
			<div class="btn" style="font-size:16px;">返回</div>
		</a>
	</div>
	<div style="margin-top:20px;">
		<a href="index.php?s=index">
			<div class="btn" style="background-color: #28bcdc;border: 1px solid #28bcdc;font-size:16px;">去首页</div>
		</a>
	</div>
</div>
<include file="Public:footer" />