<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>{$info['id']?'编辑':'新增'}优惠券</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<div class="form-item">
			<label class="item-label">优惠券类型<span class="check-tips">（1：现金券，2：折扣券，3：满减券）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="type_id" value="{$info.type_id|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">优惠券编号<span class="check-tips">（10位混合的字母数字）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="number" value="{$info.number|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">状态<span class="check-tips">（0：未发出，1：已发出，2：已使用）</span></label>
			<div class="controls">
				<input type="text" class="text input-small" name="status" value="{$info.status|default=0}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">起始时间<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" placeholder="起始时间" value="{$info.start_time|default=''}" class="text input-small" name="start_time" id="start_time" >
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">结束时间<span class="check-tips"></span></label>
			<div class="controls">
				<input type="text" placeholder="结束时间" value="{$info.end_time|default=''}" class="text input-small" name="end_time" id="end_time">
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>

<block name="script">
	<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
	<script type="text/javascript">
		$('#start_time').datetimepicker({
	        format: 'yyyy-mm-dd',
	        language:"zh-CN",
		    minView:2,
		    autoclose:true
	    });
	
	    $('#end_time').datetimepicker({
	        format: 'yyyy-mm-dd',
	        language:"zh-CN",
		    minView:2,
		    autoclose:true
	    });
		//导航高亮
		highlight_subnav('{:U('coupon/index')}');
	</script>
</block>
