<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/global.css" />
<link rel="stylesheet" type="text/css" href="__CSS__/order.css" />
<div class="main-nav">
	<div class="container">
		<ul class="list-inline">
			<li>
				<a>免费领取清洗套装</a>
			</li>
		</ul>
	</div>
</div>
<div class="contain" style="min-height:500px;text-align:center;">
	<div style="width:990px;height:90px;margin-top:150px;font-size:50px;color:#353535"><img src="__IMG__/cuo.png"/>   很 遗 憾 ！</div>
	<div style="width:990px;height:30px;margin-top:10px;font-size:20px;color:#353535">未能成功领取悟净专用免费清洗套装</div>
	<div style="margin-top:20px;">
		<a href="javascript:history.back(-1)">
			<div class="btn" style="font-size:16px;">返回上一页</div>
		</a>
	</div>
	<div style="margin-top:20px;">
		<a href="index.php?s=index">
			<div class="btn" style="background-color: #28bcdc;border: 1px solid #28bcdc;font-size:16px;">去首页</div>
		</a>
	</div>
</div>
<include file="Public:footer" />