<include file="Public:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/order.css" />
<div class="main-nav">
	<div class="container">
		<ul class="list-inline">
			<li>
				<a>免费领取清洗套装</a>
			</li>
		</ul>
	</div>
</div>
<div class="contain" style="min-height:500px;text-align:center;">
	<div style="width:990px;height:90px;margin-top:150px;font-size:50px;color:#ff4a00;"><img src="__IMG__/dui.png"/>    恭 喜 您 ！</div>
	<div style="width:990px;height:30px;margin-top:10px;font-size:20px;color:#ff4a00">成功领取悟净专用免费清洗套装一份</div>
	<div style="width:990px;height:30px;margin-top:60px;font-size:20px;color:#28bcdc">接下来，坐等收货，畅享纯净空气！</div>
	<div style="margin-top:20px;">
		<a href="index.php?s=index">
			<div class="btn" style="background-color: #28bcdc;border: 1px solid #28bcdc;font-size:16px;">去首页</div>
		</a>
	</div>
</div>
<include file="Public:footer" />